.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.game-container {
  width: 300px;
  margin: 10px calc(50% - 150px);
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(190, 197, 209);
  box-shadow: 5px 5px 5px rgb(163, 173, 184);
  .top-row {
    width: 300px;
    margin: 5px calc(50% - 150px);
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 17px;
    }
  }
  .middle-row {
    width: 300px;
    margin: 20px calc(50% - 150px);
    display: flex;
    flex-direction: row;
    // background-color: aquamarine;
    justify-content: center;
    gap: 10px;
    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
  .game-row {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 20px calc(50% - 150px);
    .img {
      // padding: 20px 10px;
      width: 150px;
      height: 150px;
    }
  }
  .result-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;

    .game-result {
      display: flex;
      width: 50px;
      height: 50px;
      background-color: rgb(106, 124, 124);
      color: white;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(11, 15, 18);
    }
  }
  span {
    color: rgb(44, 90, 123);
    font-size: 25px;
    width: 50px;
  }
}
