.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.game-container {
  font-family: "Courgette", cursive;
  font-family: "Gowun Dodum", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-size: 30px;
  // font-family: "Red Hat Display", sans-serif;
  width: 300px;
  margin: 10px calc(50% - 150px);
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(190, 197, 209);
  box-shadow: 5px 5px 5px rgb(163, 173, 184);
  .top-row {
    width: 300px;
    margin: 5px calc(50% - 150px);
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 30px;
    }
  }
  .second-row {
    width: 240px;
    margin: 0 calc(50% - 120px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
  }
  .middle-row {
    width: 300px;
    margin: 20px calc(50% - 150px);
    display: flex;
    flex-direction: row;
    // background-color: aquamarine;
    justify-content: center;
    gap: 10px;
    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
  .game-row {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 20px calc(50% - 150px);
    .img {
      // padding: 20px 10px;
      width: 150px;
      height: 150px;
    }
  }
  .result-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;

    .game-result {
      display: flex;
      width: 50px;
      height: 50px;
      background-color: rgb(106, 124, 124);
      color: white;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(11, 15, 18);
    }
  }
  span {
    color: rgb(44, 90, 123);
    font-size: 25px;
    width: 50px;
  }
}

.btn {
  font-weight: bolder;
  letter-spacing: 1px;
  border: 1px solid rgb(246, 232, 232);
}
.btn-red {
  background-color: rgb(236, 205, 205);
  color: rgb(128, 10, 10);
}
.btn-red:hover {
  background-color: rgb(168, 19, 19);
  color: rgb(213, 186, 186);
}
.btn-restart:hover {
  background-color: rgb(106, 124, 124);
  color: rgb(250, 246, 246);
}
.history-row {
  font-size: 15px;
  span {
    font-size: 12px;
    color: black;
  }
}
.phrase-row {
  background-color: rgb(65, 77, 77);
  color: aliceblue;
}
